<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <!--when the submit button is pressed it is routed to /_check route in flask_vocb.py-->
  <form id="entry" method="POST" action="/_check">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
  </form>
</div></div>

<br />


<h2 id = "foundTitle" style="display:none;">You found </h2>
<p id="results">

</p>
<p class="message"></p>
<p id = "play-again"><a id = "play-again-link" style="display:none; cursor:pointer">Let's do it again</a></p>

<script>

// Suppress normal form submission
$("#entry").submit( function(event) {
   event.preventDefault();
  });

//put an event handler for if the user wants to play again
$("#play-again-link").click(function(event){
  location.reload();
  console.log("page should have been reloaded");
})

// On each keystroke, ask the server whether the current 
// word is long enough. 
//
// We use 'keyup' because the form value
// is updated before that event is generated.
// keypress is triggered before the input field has been
// updated.  Be aware that we'll see non-character keys like
// shift and control, so make sure whatever you do with the
// event does not depend on it being a letter. 
//

$("#attempt").keyup(function(event) {
   var txt = $("#attempt").val();  // Current content of the input field
   var keycode = event.which;      // The key that just went up(got pressed)
   var letter = String.fromCharCode(keycode); //returns the string of keypressed

   // That letter might not be a letter ... it could be the
   // the backspace key, or even the shift key, because 'keyup'
   // catches all kinds of keys.  (Also, the difference between
   // upper and lower case comes from state of shift key + key code,
   // so ignoring the shift key we get only the upper case letters.

   if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) { return }

    //look to the /_countem for json data
    //pass in the current value of the text box
    //use an annonymous function to handle event
   $.getJSON( "/_check", { text: txt }, 
              function(data) {
                //test
                //console.log(data)
                console.log(txt);

                //lets take a look at the contents of what we received
                console.log(data); 
                console.log(data.result.message);
                //handle the logic to alter the display on the page

                //check to see if there are any matches to display
                if(data.result.matches_count >0){
                  $("#foundTitle").css("display", "block");
                  //display the new match
                  if(data.result.match_to_add !== null){
                    var newResults = $("#results").html() + data.result.match_to_add + "<br>";
                    $("#results").html(newResults);
                  }
                }

                //check if the text box is empty
                if($("#attempt").val() == ""){
                  console.log("empty");
                  $(".message").html("");
                }else{
                  console.log("not empty");
                  $(".message").html(data.result.message);
                }
                //display the error message
                if(data.result.won){
                  $(".message").css("color", "green");
                  //now we need to ask the user if they would like to play again
                  $("#play-again-link").css("display", "block");
                } 

                //check to see if the text box should be reset
                if(data.result.reset){
                  $("#attempt").val("");
                }
                
               }
           );
   });

</script>


 </div> <!-- container -->
</body> </html>
